.table-container {
  // max-height: 400px;
  overflow-y: auto;
  width: 100%;
}

table {
  width: max-content;
}

th, td {
  white-space: nowrap;
}

.mat-paginator {
  position: sticky;
  bottom: 0;
  z-index: 2;
  background: white;
}