.dropdown{
    overflow-y: auto;
    max-height: 100px;
    width: 200px;
    z-index: 1000;
}
// .dropdown{
//     width:100%;

//     max-height:100px;
//     overflow-y:auto;
   
//     z-index:1000;
// }   