<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <!-- App Name -->
  <a class="navbar-brand ms-3" href="#">MyApp</a>

  <!-- Menu -->
  <ul class="navbar-nav mx-auto">
    <li class="nav-item">
      <a class="nav-link" href="#">Link 1</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link 2</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link 3</a>
    </li>
  </ul>

  <!-- Profile Section -->
  <div class="d-flex align-items-center me-3">

   

    <img
      [src]="currUser?.image"
      class="rounded-circle me-2"
      width="40"
      height="40"
    />

    <span class="text-white me-3"> {{currUser?.username}}</span>

    <button class="btn btn-outline-light btn-sm" (click)="logOut()">
      Logout
    </button>
 <button class="btn btn-outline-light btn-sm" (click)="refreshToken()">
      Refresh
    </button>

  </div>

</nav>